body {
  background-color: black;

}

.view_port {
  background-color: black;
  height: 20px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye {
  background-color:green;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 25%,
      rgba(0, 0, 0, .1) 50%,
      rgba(0, 0, 0, .9) 75%);
  color: white;
  height: 100%;
  width: 30%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: -30%; } to { margin-left: 110%; }  }
        @keyframes move_eye { from { margin-left: -30%; } to { margin-left: 110%; }  }

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  color: aliceblue;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
}

header {
	background-color:green;
	position: relative;
}


table {;
	width: 100%;
	height: 75%;
}

td {
	
	padding: 10px
	width: px;
}

img {
	height: 400px;
	width: 600px;
	
	
}
.container {
  position: relative;

}

.image {
  opacity: 1;
 
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: fantasy;
  padding: 16px 32px;
}

