header{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font: small-caps bold 65px/1 sans-serif;
    font-weight: 1000;
}

@media screen and (max-width: 900px) {
  .container{
    display:flex;
    flex-wrap: wrap;
    margin: 2px;
  }

  .title {
    font: small-caps bold 45px/1 sans-serif;
  }

}

.container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1%;
  padding-top: 1%;
}

.logo{
  display: flex;
  position: relative;
  max-width: 100%;
  height: auto;
}

.logo2{
  visibility: hidden;
}

.icon{
  background: white;
  border: none;
  cursor: pointer;
}

.categories {
  position: relative;
  display: flex;
  font: small-caps bold 15px/1 sans-serif;
  justify-content: space-between;
  flex-grow:0.5;
}

.link {
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  font: small-caps bold 15px/1 sans-serif;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .link {background-color: none;}

.search {
  max-width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  max-width: 100%;
  border: 2px solid black;
  border-right: none;
  padding: 6px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  max-width: 40px;
  height: 36px;
  border: 2px solid black;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.account-icons{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer; 
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#rect {
  height: 10px;
  max-width: 100%;
  background-color: black;
}

.imageBox {
  position: relative;
  float: left;
}
.imageBox .hover-image {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.imageBox:hover .hover-image {
  display: block;
}

.imageBox2 {
  position: relative;
  float: left;
}
.imageBox2 .hover-image2 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.imageBox2:hover .hover-image2 {
  display: block;
}

.home-page {
  display:flex;
  align-items: center;

}