body {
    background-color: blue;
}

canvas { 
    position: absolute;
    display:flex;
    justify-content: space-between;
    z-index: -1;
    background: white; 
}

button {
    padding:5vw;
    font-size: 2vw;
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Comic Sans MS;
    font-size: 3vw;

}

.text {
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.buttons {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
}

button:hover {
    background-color: lightgray;
}